:root {
    --prime-color: rgb(255, 255, 136);
    --font-color: rgb(26, 26, 26);
}

*,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: var(--prime-color);
    color: var(--font-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--prime-color);
    color: var(--font-color);
    padding: 4px 4px;

}

.navTitle {
    font-size: 2rem;
    font-weight: bold;

}

.navBtn {
    color: var(--font-color);
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
    border: 0;
}

.navBtn:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 77);
    color: var(--font-color);
    border: 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.labels {
    border: 1px solid black;
    width: 10vw;
    height: 100%;
    overflow: auto;
}

.newNoteCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.newNote {
    border-radius: 5px;
    border: 1px solid black;
    width: 50%;
    padding: 4px;
}

.newNote:hover .newNoteActionCont{
    display: flex;
}

.newNoteText {
    width: 100%;
    border: 0;
    resize: none;
    margin: 0;
}

.newNoteText:focus {
    outline: none;
}

.newNoteText:focus~.newNoteActionCont {
    display: flex;
}

.newNoteActionCont {
    display: none;
    justify-content: space-between;
}

.newNoteActionEdit {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.notes {
    width: 85vw;
    height: 100%;
    overflow: auto;
}

.pinnedNotes {
    margin-top: 5vh;
}

.noteCards {
    display: grid;
    gap: 8px;
    row-gap: 12px;
    padding: 4px;
    margin-top: 2vh;
}

.noteCard {
    color: var(--font-color);
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.76);
    /*overflow: auto;*/
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-property: width, height;
    transition-duration: 0.5s;
}

.noteCard.maximized {
    position: fixed;
    height: 96vh;
    width: 96vw;
    top: 2vh;
    left: 2vw;
}

.noteCard:not(.maximized):hover {
    position: relative;
    top: 0;
    left: 0;
    margin-top: -5px;
}

.noteCard:hover .actionContainer,
.noteCard:hover .pinContainer {
    visibility: visible;
}

.pinContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: grey;
    color: white;
    font-size: 14px;
    width: auto;
    text-align: center;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 5px;
    white-space: nowrap;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0;
    color: var(--font-color);
    cursor: pointer;
}

.material-symbols-outlined:hover~.tooltip {
    display: block;
}

.material-symbols-outlined.pinned {
    font-variation-settings: 'FILL' 1;
    transform: rotate(45deg);
    color: var(--font-color);
}

.material-symbols-outlined.pinned:hover~.tooltip {
    display: block;
}

.noteText {
    resize: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    flex: 1;
    border: 0;
}

.noteText:focus {
    border: 0;
    outline: none;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

.colorPicker {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;

    background-color: white;
    gap: 2px;
    border: 1px solid black;
    padding: 2px;
    z-index: 1999;
}

.colorPicker.maximized {
    position: absolute;
    bottom: 125%;
}

.txt-color,
.bg-color {
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: var(--prime-color);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.cardBtn {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
    font-weight: bold;
    cursor: pointer;
}

.divider-horizontal {
    height: 1px;
    width: 100%;
    background-color: lightgrey;
    margin: 5vh 0;
}

/* Media queries */
@media screen and (max-width:768px) {

    .noteCards {
        grid-template-columns: 1fr;
    }

    .noteCard {
        height: 60vw;
        width: 60vw;
    }
}

@media screen and (min-width:769px) {

    .noteCards {
        grid-template-columns: repeat(4, 1fr);
    }

    .noteCard {
        height: 20vw;
        width: 20vw;
    }

    .noteText {
        min-height: 1px;
    }
}